
body{
  background-color: #001d4a;
  font-family: 'Noto Sans', sans-serif;
}
h1,h2,h3,h4{
  color: #eca400;
}
li, p, td{
  color: #eaf8bf;
}
th{
  color: #eaf8bf;
}
hr{
  border-style: none;
  height: 1px;
  background-color: #27476e;
}
em{
  color: #006992
}
a{
  color: #eaf8bf;
}
