/* General Elements */
body{
  background-color: #ffffff;
  font-family: 'Noto Sans', sans-serif;
  color: #14213d;
}

hr{
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  border-color: #293241;
  width: 10%;

}
h1{
  color: #fca311;
}

#date{
  color: #14213d;
}
/* End General Elements */
/* Header Elements */
.header{
  background-color: #e5e5e5;
  padding: 10px;
}
.header h1,h4,p{
  padding-left: 10px;
}
/* End Header Elements */
